a{
    text-decoration: unset;
}

.forloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: none;
}


.loader {
	position: absolute;
    width: 151px;
    height: 151px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.square {
	background: rgb(57,182,53);
	width: 41px;
	height: 41px;
	float: left;
	top: -28px;
	margin-right: 14px;
	margin-top: 14px;
	position: relative;
	opacity: 0;
	animation: enter 6.9s infinite;
	-o-animation: enter 6.9s infinite;
	-ms-animation: enter 6.9s infinite;
	-webkit-animation: enter 6.9s infinite;
	-moz-animation: enter 6.9s infinite;
}

.enter {
	top: 0px;
	opacity: 1;
}

.square:nth-child(1) {
	animation-delay: 2.07s;
	-o-animation-delay: 2.07s;
	-ms-animation-delay: 2.07s;
	-webkit-animation-delay: 2.07s;
	-moz-animation-delay: 2.07s;
}

.square:nth-child(2) {
	animation-delay: 2.42s;
	-o-animation-delay: 2.42s;
	-ms-animation-delay: 2.42s;
	-webkit-animation-delay: 2.42s;
	-moz-animation-delay: 2.42s;
}

.square:nth-child(3) {
	animation-delay: 2.76s;
	-o-animation-delay: 2.76s;
	-ms-animation-delay: 2.76s;
	-webkit-animation-delay: 2.76s;
	-moz-animation-delay: 2.76s;
	background: rgb(0,56,32);
}

.square:nth-child(4) {
	animation-delay: 1.04s;
	-o-animation-delay: 1.04s;
	-ms-animation-delay: 1.04s;
	-webkit-animation-delay: 1.04s;
	-moz-animation-delay: 1.04s;
	animation-delay: 1.04s;
}

.square:nth-child(5) {
	animation-delay: 1.38s;
	-o-animation-delay: 1.38s;
	-ms-animation-delay: 1.38s;
	-webkit-animation-delay: 1.38s;
	-moz-animation-delay: 1.38s;
	animation-delay: 1.38s;
}

.square:nth-child(6) {
	animation-delay: 1.73s;
	-o-animation-delay: 1.73s;
	-ms-animation-delay: 1.73s;
	-webkit-animation-delay: 1.73s;
	-moz-animation-delay: 1.73s;
	animation-delay: 1.73s;
}

.square:nth-child(8) {
	animation-delay: 0.35s;
	-o-animation-delay: 0.35s;
	-ms-animation-delay: 0.35s;
	-webkit-animation-delay: 0.35s;
	-moz-animation-delay: 0.35s;
	animation-delay: 0.35s;
}

.square:nth-child(9) {
	animation-delay: 0.69s;
	-o-animation-delay: 0.69s;
	-ms-animation-delay: 0.69s;
	-webkit-animation-delay: 0.69s;
	-moz-animation-delay: 0.69s;
	animation-delay: 0.69s;
}

.clear {
	clear: both;
}

.last {
	margin-right: 0;
}



@keyframes enter {
	0% {
		opacity: 0;
		top: -28px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 28px;
	}
}

@-o-keyframes enter {
	0% {
		opacity: 0;
		top: -28px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 28px;
	}
}

@-ms-keyframes enter {
	0% {
		opacity: 0;
		top: -28px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 28px;
	}
}

@-webkit-keyframes enter {
	0% {
		opacity: 0;
		top: -28px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 28px;
	}
}

@-moz-keyframes enter {
	0% {
		opacity: 0;
		top: -28px;
	}
	5% {
		opacity: 1;
		top: 0px;
	}
	50.9% {
		opacity: 1;
		top: 0px;
	}
	55.9% {
		opacity: 0;
		top: 28px;
	}
}
